body{
    /*background: url(images/body-bg.jpg) no-repeat; */
    color: #fff;
    padding: 50px 0;
    background: #000336;
    background: linear-gradient(0deg, rgb(7, 26, 140), rgb(76, 170, 193));
    height: 100vh;
}

.card{display: flex; justify-content: center; align-items: center; margin: 0;}
.card-insta {margin-top: 10px !important; height: 55px;}
.card-fixo {margin-top: 30px !important; height: 55px;}

.card-normal {margin-top: 10px !important; height: 55px;}

.card-calculadora{background: #f90cff;
    background-image: linear-gradient(to right bottom,#f90cff,#e027ff,#c534ff,#a93eff,#8a44ff,#6560ff,#3c73ff,#0081ff,#009cff,#00b3ff,#00c6f5,#0cd7e8); color: #fff;}

.card-calculadora a{color:#fff;}

.separar{
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    border: none;
}

.separar-big{
    margin-top: 35px;
    margin-bottom: 8px;
    display: block;
    border: none;
}

.card {border-radius: 10px;}
td {border-radius: 10px;}

.card-simular{
    display: block; font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 12px;
    -webkit-box-shadow: 0 0 20px 0 #22972e;
    box-shadow: 0 0 20px 0 #22972e;
}

h5{
    margin: 0.1rem 0 0.1rem 0;
    font-size: 1.34rem;
}

.card-insta {background: linear-gradient(84.92deg, #FFC900 0%, #FF6711 30.51%, #FF1855 71.88%, #D300C5 100%);}
.card-insta h5{color: #fff !important;}

.card-manu {background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);}
.card-manu h5{color: #fff !important;}
.card-manu {margin-top: 10px !important; height: 55px;}


.blue.darken-1 {
    background-color: #22972e !important;
}

input{color: #fff;}
